{% extends 'base.html' %}
{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Launcher</th>
                <th scope="col">ProtonDB</th>
                <th scope="col">Order</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>
                        <img src="{{ igdb_cover_url(game.igdb_image_id, 'micro') }}" style="height: 1.5rem">
                        <a href="{{ url_for('backlog.detail', id=game.id) }}" class="link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ game.title }}</a>
                    </td>
                    <td>{{ game.launcher.name }}</td>
                    <td><i class="bi bi-star-fill" style="color:#{{ game.proton.hex_color }}"></i> {{ game.proton.rating }}</td>
                    <td>{{ game.queue_order }}.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
