{% extends "base.html" %}
{% block header %}
    <h1>
        {% block title %}
            Search Igdb
        {% endblock %}
    </h1>
{% endblock %}

{% block content %}
    <div class="container px-0">
        <div class="row">
            {% from 'bootstrap5/form.html' import render_form %}
            {{ render_form(form) }}
        </div>

        {% if games %}
            <div class="row g-3">
                <h3>Results</h3>
                {% for game in games %}
                    <div class="col-3">
                        <div class="card">
                            <img src="{{ game.cover_url }}" class="card-img-top" alt="Game Cover" style="height: 352px; object-fit: contain; background-color: black;">
                            <div class="card-body">
                                <h5 class="cart-title">{{ game.name }}</h5>
                                <p class="card-text">{{ game.year }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}