{% extends "base.html" %}
{% block header %}
<h1>
    {% block title %}
    Search Igdb
    {% endblock %}
</h1>
{% endblock %}

{% block content %}
<div class="container px-0">
    <div class="row">
        {% from 'bootstrap5/form.html' import render_form %}
        {{ render_form(form) }}
    </div>

    {% if games %}
    <div class="row g-3">
        <h3>Results</h3>
        {% for game in games %}
        <div class="col-2">
            <div class="game-card card text-white rounded-2 overflow-hidden">

                <div class="position-relative" style="height: 250px;">

                    <!-- Image -->
                    <img src="{{ igdb_cover_url(game.cover.image_id) }}"
                         class="w-100 h-100 object-fit-cover"
                         alt="">

                    <!-- Gradient -->
                    <div class="gradient-bottom position-absolute bottom-0 start-0 w-100"></div>

                    <!-- Text -->
                    <div class="position-absolute bottom-0 start-0 p-3 w-100">
                        <h6 class="mb-1">{{ game.name }}</h6>
                        <p class="mb-0 small">{{ year_from_timestamp(game.first_release_date) }}</p>
                    </div>

                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}